.carrito-detalle{
    width: 60%;
    margin: 20px auto;
}
.item-carrito{
    display: flex;
    margin-bottom: 30px;
    margin-top: 80px;
    
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    img{
        width: 200px;
        margin-right: 40px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    h2{
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 10px;
        color: $secondaryColor;
        margin-top: 20px;
    }
    p{
        margin-bottom: 5px;
    }
    button{
        border: none;
            width: 30px;
            height: 30px;
            border-radius: 6px;
            border: solid 1px $mainColor;
            background-color: transparent;
            cursor: pointer;
            svg{
                fill: $mainColor;
                width: 20px;
                &:hover{
                    background-color: rgb(242, 241, 241);
                    border: solid 1px $secondaryColor;
                }
            }
        }
    }
    .resaltador{
        color: $mainColor;
        font-weight: 400;
    }
    .boton-finalizar{
        background-color: $mainColor;
        padding: 10px;
        border: none;
        color: $white;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        cursor: pointer;
        margin-bottom: 80px;
        &:hover{
            background-color: rgb(242, 241, 241);
                border: solid 1px $mainColor;
                color: $mainColor;
        }
        svg{
            width: 20px;
            fill: $secondaryColor;
            margin-left: 22px;
            &:hover{
                fill: $mainColor;
            }
        }
    }