#productos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    padding: 40px;
}
.productos-carrito{
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    figure{
        width: 20%;
        margin-bottom:20px;
        img{
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            margin-bottom: 20px;
        }
        figcaption{
            color: $mainColor;
            font-family: $secondaryFont;
            font-weight: 500;
            margin: 8px 0;
            font-size: 1em;
            line-height: 1em;
        }
    }
    .precio{
        color:$black;
        margin: 10px 0;
        font-weight: 700;
        font-size: 1.2em;
    }
    .productos-btns{
        input{
            width: 40px;
            height: auto;
            padding: 2px 4px;
            text-align: center;
            color: $black;
            font-weight: 600;
        }
        button.btn-s{
            width: 30px;
            background-color: gray;
            border: none;
            padding: 4px;
            border-radius: 4px;
            &:hover{
                background-color: $white;
                border: solid 1px gray;
                color: gray;
            }
        }
    }
}